.about-page {
  .video {
    background-color: $kemono_brown;
    border-radius: 20px;
    color: $off_white;
    margin: $default-margin * 4 auto;
    padding: $default-padding * 2;
    text-align: center;
  }
}
