.archive-page {
  .sort-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  @include respond-to("md") {
    .sort-container {
      align-content: flex-start;
      flex-direction: row;
      justify-content: space-evenly;
      section {
        margin: $default-margin;
      }
    }
  }
}

.archive-template {
  h1 {
    text-align: center;
  }
  .twc {
    display: block;
    margin: 10px auto;
    max-width: 468px;
    width: 100%;
    height: auto;
  }
  .article-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    article {
      color: $kemono_brown;
      padding-bottom: $default-padding;

      img {
        height: 87px;
        width: 156px;
      }

      h2 {
        margin: 0;
        padding: 0;
      }

      a {
        color: $kemono_brown;
        margin: 0 auto;
        text-decoration: none;
      }

      .post-thumbnail {
        img {
          border-radius: $default-border-radius;
        }
      }

      .published {
        font-size: 8pt;
      }

      .entry-title,
      .posted-on {
        display: block;
        font-size: 1em;
        font-weight: 400;
        line-height: 1em;
        padding: 0 $default-padding;
        text-align: center;
      }
    }

    @include respond-to("md") {
      flex-direction: row;
      article {
        text-align: left;
        img {
          height: 131px !important;
          width: 234px !important;
        }
        padding: 0 $default-padding $default-padding 0;
      }
    }
  }
}
