.carousel {
  padding: $default-padding;
  position: relative;

  .comic_slot {
    filter: grayscale(100);
    height: 267px;
    width: 193px;
    -webkit-transition: filter .3s ease-out;
    -moz-transition: filter .3s ease-out;
    -o-transition: filter .3s ease-out;
    transition: filter .3s ease-out;

    a {
      @include image-link;
      border-radius: $default-border-radius;
      height: 267px;
      width: 193px;
    }
  }

  .slot_0 {
    a {
      background-image: url('../../static/comic_imew.png');
    }
  }

  .slot_1 {
    a {
      background-image: url('../../static/comic_pap.png');
    }
  }

  .slot_2 {
    a {
      background-image: url('../../static/comic_cb.png');
    }
  }

  .slot_3 {
    a {
      background-image: url('../../static/comic_pmp.png');
    }
  }

  .slot_4 {
    a {
      background-image: url('../../static/comic_rascals.png');
    }
  }

  .color {
    filter: grayscale(0) !important;
  }

  .control {
    bottom: 0;
    cursor: pointer;
    height: 259px;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    top: 0;
    width: 27px;
  }

  .previous_slot {
    background-image: url('../../static/navbar_left.png');
    left: -30px;
  }

  .next_slot {
    background-image: url('../../static/navbar_right.png');
    right: -30px;
  }
}
