@import './palette.scss';

@import './carousel.scss';
@import './cast-page.scss';
@import './footer.scss';
@import './header.scss';
@import './post.scss';
@import './post-grid.scss';
@import './sandy-says.scss';
@import './sidebar.scss';
@import './world-page.scss';

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-image: url('../../static/background.png');
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 1080px;
    min-width: 1080px;
    padding: 0 24px;
    width: 1080px;
}

.two-column {
  display: flex;
  justify-content: space-between;

  .sidebar {
    width: 20%;
  }
  
  .content-area {
    width: 80%;
  }
}
