$kemono_brown: #89390d;
$hardwood_text: #663300;
$label_peach: #cd7e53;
$off_white: #F0F0F0;
$shadow_black: #222222;

$sandy_peach: #cc6666;
$sandy_peach_off: rgba(153, 51, 0, .75);

$kona_red: #cc0033;
$kona_red_off: rgba(102, 0, 0, .75);

$miko_blue: #336699;
$miko_blue_off: rgba(0, 51, 102, .75);

$maxine_green: #339933;
$maxine_green_off: rgba(0, 102, 0, .75);

$jill_orange: #993300;
$jill_orange_off: rgba(102, 0, 0, .75);
