// Colors
$hardwood_text: rgba(102, 51, 0, 1);
$jill_orange_off: rgba(102, 0, 0, .75);
$jill_orange: rgba(153, 51, 0, 1);
$kemono_brown: rgba(137, 57, 13, 1);
$kona_red_off: rgba(102, 0, 0, .75);
$kona_red: rgba(204, 0, 51, 1);
$label_peach: rgba(205, 126, 83, 1);
$maxine_green_off: rgba(0, 102, 0, .75);
$maxine_green: rgba(51, 153, 51, 1);
$miko_blue_off: rgba(0, 51, 102, .75);
$miko_blue: rgba(51, 102, 153, 1);
$off_white: rgba(240, 240, 240, 1);
$sandy_peach_off: rgba(153, 51, 0, .75);
$sandy_peach: rgba(204, 102, 102, 1);
$shadow_black: rgba(34, 34, 34, 1);

// Constants
$default-border-radius: 5px;
$default-margin: 10px;
$default-padding: 10px;

// Mixins
@mixin image-link() {
  background-repeat: no-repeat;
  color: transparent;
  display: block;
}
