.post-template-default {

  .content-area {
    background-color: $off-white;
    border-radius: $default-border-radius;
    padding: $default-padding;
    margin-top: $default-margin;

    a {
      text-decoration: none;
    }

    .entry-title {
      font-family: 'Roboto Slab', serif;
      font-size: 3em;
      text-align: center;
    }
  }

  #comments, .post-navigation, .sidebar {
    display: none;
  }

  .story {
    padding: 1em;
    .block {
      align-items: center;
      display: flex;

      // Left blocks
      &:nth-child(2n - 1) {
        justify-content: left;
      }

      // Right blocks
      &:nth-child(2n) {
        justify-content: right;
      }

      .emote {
        height: 150px;
        width: 157px;
      }

      // Left emotes
      &:nth-child(2n - 1) .emote {
        -moz-transform: scaleX(-1);
        -ms-filter: "FlipH";
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        filter: FlipH;
        margin-right: 3em;
        transform: scaleX(-1);
      }

      // Right emotes
      &:nth-child(2n) .emote {
        margin-left: 3em;
      }

      .dialog {
        border-radius: 20px;
        color: $off_white;
        font-size: 1.25em;
        margin-top: 2em;
        max-width: 68%;
        padding: 1em;
        position: relative;

        // Balloon Arrow
        &::after {
          border-style: solid;
          border-width: 12px 12px 12px 12px;
          content: "";
          position: absolute;
          top: 30px;
        }
      }

      // Left dialog
      .dialog:nth-child(2n - 1) {
        background-color: $sandy_peach;
        &::after {
          border-color: $sandy_peach transparent transparent transparent;
          right: -10px;
        }
      }

      // Right dialog
      .dialog:nth-child(2n) {
        background-color:$kemono_brown;
        &::after {
          border-color: $kemono_brown transparent transparent transparent;
          left: -10px;
        }
      }
    }
  }
}
