.post-template-default {

  .content-area {
    background-color: $reader_white;
    border-radius: $default-border-radius;
    font-family: 'Merriweather', sans-serif;
    padding: $default-padding*2 $default-padding * 5;
    margin-top: $default-margin;

    a {
      text-decoration: none;
    }

    p {
      letter-spacing: .05em;
      line-height: 1.25em;
    }

    h1 {
      margin-top: 0;
    }

    .entry-title {
      font-family: 'Roboto Slab', serif;
      font-size: 3em;
      text-align: center;
    }
  }

  #comments,
  .post-navigation,
  .sidebar {
    display: none;
  }

  .story {
    padding: 1em;
    width: 100%;

    .block {
      align-items: center;
      display: flex;
      width: 100%;

      // Left blocks
      &:nth-child(2n - 1) {
        justify-content: flex-start;
      }

      // Right blocks
      &:nth-child(2n) {
        justify-content: flex-end;
      }

      // Emotes
      .emote {
        height: 150px;
        width: 157px;

        .nameplate {
          display: block;
          margin-top: 150px;
          text-align: center;
        }
      }

      // Left emotes
      &:nth-child(2n - 1) .emote {
        -moz-transform: scaleX(-1);
        -ms-filter: "FlipH";
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        filter: FlipH;
        margin-right: 3em;
        transform: scaleX(-1);

        .nameplate {
          -moz-transform: scaleX(-1);
          -ms-filter: "FlipH";
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          filter: FlipH;
          transform: scaleX(-1);
        }
      }

      // Right emotes
      &:nth-child(2n) .emote {
        margin-left: 3em;
      }

      // Dialog bubbles
      .dialog {
        background-color: $steve_paste;
        border-radius: 20px;
        color: $off_black;
        font-size: 1.25em;
        margin-top: 2em;
        max-width: 55%;
        padding: 1em;
        position: relative;

        // Balloon arrow
        &::after {
          border-color: $steve_paste transparent transparent transparent;
          border-style: solid;
          border-width: 12px 12px 12px 12px;
          content: "";
          position: absolute;
          top: 30px;
        }
      }

      // Left dialog bubble
      .dialog:nth-child(2n - 1) {
        &::after {
          right: -10px;
        }
      }

      // Right dialog bubble
      .dialog:nth-child(2n) {
        &::after {
          left: -10px;
        }
      }
    }

    // Sandy dialog
    .block.sandy {
      .dialog {
        background-color: $sandy_peach;
        color: $off_white;

        &::after {
          border-color: $sandy_peach transparent transparent transparent;
        }
      }

      .emote {
        .nameplate {
          color: $sandy_peach;
        }
      }
    }
  }

  // Kona dialog
  .block.kona {
    .dialog {
      background-color: $kona_red;
      color: $off_white;

      &::after {
        border-color: $kona_red transparent transparent transparent;
      }
    }

    .emote {
      .nameplate {
        color: $kona_red;
      }
    }
  }

  // Miko dialog
  .block.miko {
    .dialog {
      background-color: $miko_blue;
      color: $off_white;

      &::after {
        border-color: $miko_blue transparent transparent transparent;
      }
    }

    .emote {
      .nameplate {
        color: $miko_blue;
      }
    }
  }

  // Maxine dialog
  .block.maxine {
    .dialog {
      background-color: $maxine_green;
      color: $off_white;

      &::after {
        border-color: $maxine_green transparent transparent transparent;
      }
    }

    .emote {
      .nameplate {
        color: $maxine_green;
      }
    }
  }

  // Jill dialog
  .block.jill {
    .dialog {
      background-color: $jill_orange;
      color: $off_white;

      &::after {
        border-color: $jill_orange transparent transparent transparent;
      }
    }

    .emote {
      .nameplate {
        color: $jill_orange;
      }
    }
  }
}
