main.site-main { 
  .divider {
    height: 27px;
    margin: 10px;
    width: 818px;
  }
  .divider-news {
    background-image: url('../../static/divider_news.png');
  }
  .divider-more-news {
    background-image: url('../../static/divider_more_news.png');
  }
  .ad-banner {
    background-image: url('../../static/ad_banner.png');
    height: 90px;
    margin: 10px auto;
    width: 720px;
  }
  .article-container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    article {
      color: $kemono_brown;
      margin-bottom: 10px;
      padding: 10px;
      width: 33%;
      h2 {
        margin: 0;
        padding: 0;
      }
      a {
        color: $kemono_brown;
        display: block;
        font-size: 10pt;
        margin: 0 auto;
        text-decoration: none;
      }
      .published {
        font-size: 8pt;
      }
    }
  }
}
