.sandy-says {
  background-color: $kemono_brown;
  border-radius: 5px;
  height: 235px;
  position: relative;
  width: 100%;

  .sandy {
    background-repeat: no-repeat;
    bottom: 0;
    height: 231px;
    left: 5px;
    position: absolute;
    width: 227px;
  }

  .sandy_0 {
    background-image: url('../../static/carousel/sandy_says_01.gif');
  }

  .sandy_1 {
    background-image: url('../../static/carousel/sandy_says_02.gif');
  }

  .sandy_2 {
    background-image: url('../../static/carousel/sandy_says_03.gif');
  }

  .sandy_3 {
    background-image: url('../../static/carousel/sandy_says_04.gif');
  }

  .sandy_4 {
    background-image: url('../../static/carousel/sandy_says_05.gif');
  }

  .sandy_5 {
    background-image: url('../../static/carousel/sandy_says_06.gif');
  }

  .sandy_6 {
    background-image: url('../../static/carousel/sandy_says_07.gif');
  }

  .sandy_7 {
    background-image: url('../../static/carousel/sandy_says_08.gif');
  }

  .sandy_8 {
    background-image: url('../../static/carousel/sandy_says_09.gif');
  }

  .sandy_9 {
    background-image: url('../../static/carousel/sandy_says_10.gif');
  }

  .sandy_10 {
    background-image: url('../../static/carousel/sandy_says_02.gif');
  }

  .sandy_11 {
    background-image: url('../../static/carousel/sandy_says_07.gif');
  }

  .speech_bubble {
    background-color: $off_white;
    border-radius: 5px;
    height: 225px;
    font-size: 16pt;
    left: -5px;
    margin-left: 250px;
    padding: 45px $default-padding 0;
    position: relative;
    top: 5px;

    .arrow {
      border-color: $off_white transparent transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 12px;
      left: -12px;
      position: absolute;
      top: 130px;
    }

    .rating, .title { 
      border-radius: 5px;
      font-size: 20pt;
      margin-top: $default-margin / 2;
      padding: 10px;
      position: absolute;
      top: 0;
    }

    .rating {
      background-color: $kemono_brown;
      color: $off_white;
      margin-right: $default-margin / 2;
      right: 0;
    }
    
    .title {
      left: 0;
    }
  }
}
