.sandy-says {
  background-color: $kemono_brown;
  border-radius: 5px;
  height: 225px;
  position: relative;
  width: 100%;

  .sandy {
    background-image: url('../../static/carousel/sandy_synopsis_2.gif');
    background-repeat: no-repeat;
    bottom: 0;
    height: 231px;
    left: 5px;
    position: absolute;
    width: 227px;
  }

  .speech_bubble {
    background-color: $off_white;
    border-radius: 5px;
    height: 215px;
    font-size: 16pt;
    left: -5px;
    margin-left: 250px;
    padding: 45px $default-padding 0;
    position: relative;
    top: 5px;

    .arrow {
      border-color: $off_white transparent transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 12px;
      left: -12px;
      position: absolute;
      top: 130px;
    }

    .rating, .title { 
      border-radius: 5px;
      font-size: 20pt;
      margin-top: $default-margin / 2;
      padding: 10px;
      position: absolute;
      top: 0;
    }

    .rating {
      background-color: $kemono_brown;
      color: $off_white;
      margin-right: $default-margin / 2;
      right: 0;
    }
    
    .title {
      left: 0;
    }
  }
}
