.sandy-says {
  background-color: $kemono_brown;
  border-radius: 5px;
  height: 225px;
  position: relative;
  width: 100%;
  .sandy {
    background-image: url('../../static/sandy_synopsis_2.gif');
    background-repeat: no-repeat;
    bottom: 0;
    height: 231px;
    left: 5px;
    position: absolute;
    width: 227px;
  }
  .speech_bubble {
    background-color: $off_white;
    border-radius: 5px;
    height: 215px;
    left: -5px;
    margin-left: 250px;
    padding: 40px 7px 0;
    position: relative;
    top: 5px;
    .arrow {
      border-color: $off_white transparent transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 12px;
      left: -12px;
      position: absolute;
      top: 130px;
    }
    .rating, .title {
      background-color: $label_peach;
      border-radius: 5px;
      color: off_white;
      font-size: 1.5em;
      margin: 5px;
      padding: 10px;
      position: absolute;
      top: 0;
    }
    .rating {
      right: 0;
    }
    .title {
      left: 0;
    }
  }
}
