.sidebar {
  .widget_custom-twitter-feeds-widget {
   background-color: hsl(21, 83%, 29%);
   color: $off_white;
   margin-top: 5px;
   padding: 10px;
   a {
    color: $off_white;
    text-decoration: none;
   } 
   .ctf-tweet-meta {
     margin: 0 !important;
     padding: 0 !important;
   }
   .ctf-tweet-content {
     padding: 5px 0 !important;
   }
  }
  .custom-html-widget {
    margin-top: 5px;
    img {
      width: 100%;
    }
  }
}
