.sidebar {
    .twitter-timeline {
      .timeline-Widget {
        background-color: $kemono_brown;
        color: $off_white;

        a {
          color: $sandy_peach;
        }
      } 
    }
  }

  .custom-html-widget {
    border-radius: $default-border-radius;
    margin-top: $default-margin;

    img {
      width: 100%;
    }
  }

  @include respond-to("md") {
    .widget_custom-twitter-feeds-widget {
      padding: $default-padding;
    }
  }

  @include respond-to("lg") {
  }
}
