.sidebar {
  .widget_custom-twitter-feeds-widget {
    background-color: $kemono-brown;
    border-radius: $default-border-radius;
    color: $off_white;

    a {
      color: $off_white;
      text-decoration: none;
    }

    .ctf-tweet-meta {
      margin: 0 !important;
      padding: 0 !important;
    }

    .ctf-author-name {
      width: 100% !important;
    }

    .ctf-tweet-date,
    .ctf-screename-sep {
      display: none !important;
    }

    .ctf-tweet-actions {
      margin: 0 !important;
    }

    .ctf-tweet-content {
      margin: 0 !important;
      padding: $default-padding 0 !important;
    }

    .ctf-reply, .ctf-retweet, .ctf-like {
      color: $off_white !important;
    }

    .ctf_more {
      display: none !important;
    }

    .ctf-context {
      margin-left: 0 !important;
    }
  }

  .custom-html-widget {
    border-radius: $default-border-radius;
    margin-top: $default-margin;

    img {
      width: 100%;
    }
  }

  @include respond-to("md") {
    .widget_custom-twitter-feeds-widget {
      padding: $default-padding;
    }
  }

  @include respond-to("lg") {
  }
}
