.world-page {

  .map {
    background-image: url('../../static/world/world_map.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 802px;
    margin: 0 auto;
    width: 1032px;
  }

  .locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    .location {
      background-color: $off_white;
      border-radius: 5px;
      border: 2px solid $hardwood_text;
      color: $hardwood_text;
      margin-top: $default-margin;
      width: 45%;

      .image {
        float: left;
        height: 135px;
        margin-right: $default-margin;
        width: 135px;
      }

      h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        font-weight: bold;
        margin-right: $default-margin;
        text-align: center;
      }

      h1::before {
        content: '\00B7';
        padding-right: 10px;
      }

      h1::after {
        content: '\00B7';
        padding-left: 10px;
      }

      p {
        margin-right: $default-margin;
      }
    }
  }

  .loc-1 {

    .image {
      background-image: url('../../static/world/world_location01.png');
    }
  }

  .loc-2 {

    .image {
      background-image: url('../../static/world/world_location02.png');
    }
  }

  .loc-3 {

    .image {
      background-image: url('../../static/world/world_location03.png');
    }
  }

  .loc-4 {

    .image {
      background-image: url('../../static/world/world_location04.png');
    }
  }

  .loc-5 {

    .image {
      background-image: url('../../static/world/world_location05.png');
    }
  }

  .loc-6 {

    .image {
      background-image: url('../../static/world/world_location06.png');
    }
  }

  .loc-7 {

    .image {
      background-image: url('../../static/world/world_location07.png');
    }
  }

  .loc-8 {
    
    .image {
      background-image: url('../../static/world/world_location08.png');
    }
  }
}
